//Stylesheet: 600px以上のタブレットやモニタで適用


.flex {
  flex-direction: row;
  flex-wrap: wrap;
}
// .flex2 {
//   flex-basis: 40%;
//   margin-bottom: 60px;
// }

.main-title {
  text-align: center;
}

.sub-title {
  text-align: center;
}

.logo {
  font-size: 40px;

  &__img {
    margin-right: 15px;
  }

  &__my {
    margin-right: 10px;
  }
}

.home {
  height: 100vh;
  &__name {
    padding-top: 200px;
  }
  & .main-title {
    font-size: 50px;
  }
  & .sub-title {
    font-size: 20px;
  }
}

.about {
  &__title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__just {
    font-size: 35px;
  }
  &__ul {
    margin-top: 40px;
  }
}

.skill {
  &__my {
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__type {
    font-size: 30px;
  }
}

.family {
  & > h1 {
    font-size: 40px;
  }
}

.sons {
  margin-top: 40px;
  &__item {
    flex-basis: 37%;
    margin-bottom: 60px;
  }

  & .main-title {
    font-size: 40px;
  }
}


.zusi {
  &__container {
    justify-content: space-between;
  }
  &__item {
    flex-basis: 47%;
  }
  & .main-title {
    font-size: 40px;
  }
}

.pg {

  &__inner {
    padding: 50px;
  }

  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__engineer {
    margin-bottom: 10px;
  }

  &__sub {
    margin-bottom: 15px;
  }

  &__message {
    margin-bottom: 10px;
  }

  &__favorite-words {
   margin-bottom: 10px;
  }

  &__texts {
    display: flex;
    align-items: flex-start;
  }

  .link {
    margin-bottom: 20px;
  }
}

.footer {
  & .logo {
    justify-content: flex-start;
    font-size: 42px;
  }

  &__li {
    margin-left: 0;
    margin-right: 30px;
  }
}