//Stylesheet: 960px以上のモニタで適用

.font-sm {
  font-size: 16px;
}
.font-md {
  font-size: 19px;
}
.font-lr {
  font-size: 23px;
}
.font-lg {
  font-size: 36px;
}


.mb-lg {
  margin-bottom: 150px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}

.about {
  height: 100%;
  &__title {
    font-size: 50px;
    margin-bottom: 30px;
  }
  &__just {
    font-size: 40px;
    margin-bottom: 30px;
  }
  &__sub {
    margin-bottom: 30px;
  }
  &__ul {
    margin-top: 40px;
  }
  &__li {
    margin-bottom: 20px;
  }
}

.sons {
  margin-top: 40px;
  &__item {
    flex-basis: 38.5%;
    margin-bottom: 60px;
  }
}

.zusi {
  &__item {
    flex-basis: 25%;
  }

  &__img {
    height: 335px;
  }
}

.pg {
  &__img {
    height: 400px;
  }

  &__sub,
  &__message {
    margin-bottom: 30px;
  }

  &__favorite-words {
    margin-bottom: 50px;
  }

}

.header {
  &__nav {
    display: block;
  }
}

.logo {
  font-size: 38px;
  height: 50px;

  &__img {
    margin-right: 25px;
  }

  &__my {
    margin-right: 15px;
  }
}

.mobile-menu {
  &__btn {
    display: none;
  }
}

.footer {
  & .logo {
    font-size: 35px;
 }
}

.swiper-slide {
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}